@charset "utf-8";
/* CSS Document */

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;    font: inherit;  vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {   display: block;}body {  line-height: 1;}ol, ul {    list-style: none;}blockquote, q {   quotes: none;}blockquote:before, blockquote:after,q:before, q:after {   content: '';    content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

/* ========== IMPORTS ========== */

@import "mixins"; 
@import "fonts"; 

.font-regular(){
    font-family: 'brandon_grotesque_regularRg';
}

.font-medium(){
    font-family: 'brandon_grotesquemedium';
}

.font-black(){
    font-family: 'brandon_grotesqueblack';
}

.font-bold(){
    font-family: 'brandon_grotesquebold';
}

/* ========== VAR COLORS ========== */

@brand-color1: #ffffff;
@brand-color2: #2e3d4b;
@brand-color3: #212424;
@brand-color4: #26313c;
@brand-color5: #3a5166;
@brand-color6: #ed1940;
@brand-color7: #cecece;

/* ========== GLOBALS ========== */

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 16px;
	color: @brand-color3;
	.font-regular();
}

.container {
	@media (max-width: 1199px){
		width: 100%;
	}
}

.clear {
    clear: both;
    float: none;
}

.no-pad {
    padding-left: 0;
    padding-right: 0;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
    padding-right: 0;
}

.uppercase{
	text-transform: uppercase;
}

p{
	font-size: 1.125em;
	line-height: 1.125em;
	text-align: left; 
	.font-regular();
}

b{
	.font-bold();
}

p,b,a{color: @brand-color3;}

a,
a:hover,
button,
button:hover{text-decoration: none; .transition (@transition: all 0.3s ease-out 0s); cursor: pointer;}

a:hover, a:focus {
	color: @brand-color3;
    outline: 0;
    text-decoration: none;
}

.title(){
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 40px;
}

.width-100(){
	display: inline-block;
	width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
        
.small-line{
    width: 74px;
    height: 1px;
    display: block;
    margin: 0 auto;
}

.row-line{
    padding: 0 80px;
    
    &.blue{
        background: @brand-color2;
        
        .full-line{
            width: 100%;
            height: 2px;
            display: block;
            margin: 0 auto;

            &.blue-inner{
                background: @brand-color4;
                border-bottom: 1px solid @brand-color5;
            }
        } 
    }
    
    &.gray{
        background: @brand-color1;
        
        .full-line{
            width: 100%;
            height: 1px;
            display: block;
            margin: 0 auto;

            &.gray-inner{
                background: rgba(85,85,85,0.21);
            }
        } 
    }

}

::-webkit-input-placeholder {
   color: rgba(33,36,36,0.5);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(33,36,36,0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(33,36,36,0.5);
}

:-ms-input-placeholder {  
   color: rgba(33,36,36,0.5); 
}

/* ========== HEADINGS ========== */

h1{.font-black()}                                                   //143px
h2{.font-black(); text-transform: uppercase; font-size: 5em;}       //90px
h3{.font-black(); text-transform: uppercase; font-size: 2.250em;}
h4{.font-black(); text-transform: uppercase; font-size: 1.5em;}     //24px
h5{.font-black(); text-transform: uppercase; font-size: 1.125em;}   //18px
h6{.font-black(); text-transform: uppercase; font-size: 1em; }


/* ========== BUTTONS ========== */

.btn-style{
    display: inline-block;
    width: 355px;
    .border-radius (@radius: 38px);
    font-size: 1.125em;
    text-transform: uppercase;
    padding: 30px 0;
    text-align: center;

    &.btn-white{
        border: 1px solid @brand-color1;
        color: @brand-color1;
        background: transparent;
        
        &:hover{
            color: @brand-color3;
            background: @brand-color1; 
        }
    }
    
    &.btn-black{
        border: 1px solid @brand-color3;
        color: @brand-color3;
        background: transparent;
        
        &:hover{
            color: @brand-color1;
            background: @brand-color3; 
        }
    }
    
    &.btn-pink{
        border: 1px solid @brand-color6;
        color: @brand-color1;
        background: @brand-color6;
        
        &:hover{
            color: @brand-color6;
            background: @brand-color1; 
        }
    }
}


/* ========== GLOBAL STYLES ========== */

.header-nav{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
	background: transparent;
    z-index: 9999;
	//.box-shadow (0px 2px 1px 0px rgba(0,0,0,0.15));

	.navigation{

		.logo-mobile{
			display: none;

			@media (max-width: 991px) {
				display: block;
				height: 60px;
			}

			a{
				display: inline-block;
				padding: 6px 0;

				img{
					width: 100px;
				}
			}

			.header-toggle{
				display: block;
				float: right;
				padding: 15px 0;

				i{
					position: relative;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					  user-select: none;
					display: block;
					width: 30px;
					height: 30px;
					line-height: 50px;
					text-align: center;
					font-size: 24px;
					cursor: pointer;

					&:before{
						line-height: inherit;
					}

					&:not(:first-child) {
			        	margin-top: 5px;
			        }

				    &.icon-nav{
					    span{
					        -webkit-transition: background-color 0.2s linear;
					           -o-transition: background-color 0.2s linear;
					              transition: background-color 0.2s linear;
					        -webkit-transform: translate(-50%, -50%);
					          -ms-transform: translate(-50%, -50%);
					           -o-transform: translate(-50%, -50%);
					              transform: translate(-50%, -50%);
					        position: absolute;
					        top: 50%;
					        right: auto;
					        bottom: auto;
					        left: 50%;
					        display: inline-block;
					        width: 30px;
					        height: 4px;
					        background-color: @brand-color3;
					    }

					    span:before,
					    span:after{
					        -webkit-transform: translateZ(0);
					              transform: translateZ(0);
					        -webkit-backface-visibility: hidden;
					              backface-visibility: hidden;
					        -webkit-perspective: 1000;
					              perspective: 1000;
					        -webkit-transition: -webkit-transform 0.2s linear;
					           -o-transition: -o-transform 0.2s linear;
					              transition: transform 0.2s linear;
					        content: "";
					        position: absolute;
					        left: 0;
					        width: 100%;
					        height: 100%;
					        background-color: @brand-color3;
					    }

					    span:before{
					    	margin-top: -4px;
					        -webkit-transform: translateY(-6px) rotate(0deg);
					          -ms-transform: translateY(-6px) rotate(0deg);
					           -o-transform: translateY(-6px) rotate(0deg);
					              transform: translateY(-6px) rotate(0deg);
					    }

					    span:after{
					    	margin-top: 4px;
					        -webkit-transform: translateY(6px) rotate(0deg);
					          -ms-transform: translateY(6px) rotate(0deg);
					           -o-transform: translateY(6px) rotate(0deg);
					              transform: translateY(6px) rotate(0deg);
					    }

					    &.nav-in span{
					        background-color: transparent;
					    }

					    &.nav-in span:before{
					    	margin-top: 0;
					        -webkit-transform: translateY(0) rotate(45deg);
					          -ms-transform: translateY(0) rotate(45deg);
					           -o-transform: translateY(0) rotate(45deg);
					              transform: translateY(0) rotate(45deg);
					        }

					    &.nav-in span:after{
					    	margin-top: 0;
					        -webkit-transform: translateY(0) rotate(-45deg);
					          -ms-transform: translateY(0) rotate(-45deg);
					           -o-transform: translateY(0) rotate(-45deg);
					              transform: translateY(0) rotate(-45deg);
					    }
				    }
				}
			}
		}

		.menu{
			height: 100px;

			@media (max-width: 991px) {
				display: none;
				height: auto;
				padding: 0;
			}
            
            .logo{
                float: left;
                margin: 30px;
            }

		    .menu-list{
		    	display: inline-block;
		    	float: right;

		    	li{
		    		float: left;
		    		border-bottom: 2px solid transparent;
		    		margin: 40px 0;
                    padding-left: 30px;

                    a{
                        display: inline-block;
                        text-transform: uppercase;
                        font-size: 0.875em;
                        color: @brand-color1;
                        .font-medium();

                        &:hover{
                            color: red;
		    		        border-bottom: 2px solid red;
                        }
                    }
                    
                    &:nth-child(1){
                        padding: 0; 
                    }

                    &.active-Menu{
                        a{
                            color: @brand-color1;
                            background: @brand-color3;
                        }
                    }
		    	}
		    }
		}
	}
}


.hero{
    display: block;
    width: 100%;
    height: 100vh;
    /*
    background: url(../img/hero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    
    .container{
        height: 100vh;
        
        .row{
            height: 100vh;
            display: table;
            position: relative;
            
            .video-bg{
                video { 
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: auto;
                    z-index: -100;
                    transform: translateX(-50%) translateY(-50%);
                    background: url('../img/Fundo10.png') no-repeat;
                    background-size: cover;
                    transition: 1s opacity;
                }
            }
            
            .content{
                text-align: center;
                display: table-cell; 
                vertical-align: middle;
                float: none;

                h1{
                    font-size: 7em;
                    line-height: .9em;
                    color: @brand-color1;

                    .line1{
                        .width-100();
                        letter-spacing: 5px;
                    }

                    .line2{
                        .width-100();
                        letter-spacing: 1px;
                    }

                    .line3{
                        .width-100();

                        b{
                            letter-spacing: 1px;
                            background: -webkit-linear-gradient(#0de1ea, #c6d92c);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }

                .btn-style{
                    display: inline-block;
                    margin-top: 7.188em;
                }
            }
            
            i{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 30px;
                margin: 0 auto;
                width: 18px;
                height: 29px;
                background: url(../img/icon-scroll.png) no-repeat;
            }
        }
    }
}

/*
@media (max-width: 991px){
    max-width: 70%;
}
*/

#our-videos{
	padding: 80px 0 90px;
	background: @brand-color1; 
    text-align: center;
    
    .title-outer{
        display: inline-block;
        
        ul{
            display: inline-block;
            width: 84px;
            float: left;
            margin: 3px 10px 0 0;
            
            li{
                width: 100%;
                height: 1px;
                background: @brand-color3; 
                
                &:nth-child(1){
                    margin-right: 10px;
                }
                &:nth-child(2){
                    margin: 7px 5px;
                }
                &:nth-child(3){
                    margin-left: 10px;
                }
            }
        }
        
        h4{
            display: inline-block;
            float: left;
            padding-bottom: 40px;
        } 
    }
    .small-line{
        background: @brand-color3; 
    }
    
    .content{
        padding-top: 50px;
        
        img{
            padding-bottom: 50px;
        }
        
        h5{
            padding-bottom: 30px;
        }
        
        span{
            display: inline-block;
            
            p{
                font-size: 1.063em;
                text-align: center;
            }
        }
    }
}

#portfolio{
	background: @brand-color2;

    .img-area{
        a{
            position: relative;
            display: block;
            font-size: 0;
            overflow: hidden;
                
            img{
                .transition (@transition: all 0.3s ease-out 0s);
                width: 100%;
            }
            
            .content{
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                .transition (@transition: all 0.3s ease-out 0s);
                visibility: hidden;
                opacity: 0;
                
                img{
                    max-width: 100%;
                    width: auto;
                    margin: 2em 0;
                }
                
                .outer-content{
                    display: table;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 30px;
                    background: rgba(0,0,0,0.8);
                    font-size: 16px;
                    text-align: center;
                    z-index: 10;
                    color: @brand-color1;
                    
                    .inner-content{
                        display: table-cell;
                        vertical-align: middle;
                        
                        .small-line{
                            background: @brand-color1;
                            margin-top: 1em;
                        }

                        p{
                            color: @brand-color1;
                            text-align: center;
                            .font-regular();
                        }
                    }
                }
            }
            
            &:hover{
                img{
                    transform: scale(1.1);
                }
                
                .content{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        
    }
    
    .btn-area{
        text-align: center;
        padding: 50px 15px;
    }
}

#video-percent{
    padding: 90px 15px;
	background: @brand-color2;

    .content{
        padding-bottom: 80px;
        
        h5{
            display: block;
            color: @brand-color1;
        }
        
        .small-line{
            display: block;
            background: @brand-color1;  
            margin: 25px 0 20px;
        }
        
        h2{
            display: block;
            letter-spacing: 1px;
            background: -webkit-linear-gradient(#0de1ea, #c6d92c);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        h4{
            display: block;
            color: @brand-color1; 
            line-height: 1.2em;
            .font-bold();
        }
    }
    
    .content-bottom{
        h5{
            color: @brand-color1;
            text-align: center
        }
    }
}



#budget-option{
    position: relative;
	padding: 0;
	background: @brand-color2;
    min-height: 600px;
    overflow: hidden;
    
    .waves-bg1{
        background: url('../img/bg-img1.png') -25px 0 no-repeat;
        position: absolute;
        bottom: 0;
        z-index: 100;
        width: 100%;
        height: 169px;
        /*background-size: calc(100% + 50px);*/
        background-size: 102%;
    }
    
    .waves-bg2{
        background: url('../img/bg-img2.png') -25px 0 no-repeat;
        position: absolute;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 338px;
        /*background-size: calc(100% + 50px);*/
        background-size: 102%;
    }
    
    .inner-container{
        position: relative;
        z-index: 10px;
        padding: 80px 15px 0;
        
        h4.title{
            display: block;
            color: @brand-color1;  
            text-align: center;
            padding-bottom: 40px;
        } 
    
        .small-line{
            display: block;
            background: @brand-color1; 
        }
        
        .content{
            padding: 80px 15px;
            
            .option{
                position: relative;
                display: inline-block;
                width: 100%;
                height: 260px;
                background: transparent;
                padding: 12px;
                

                .gradient-bg{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: @brand-color1; 
                    .border-radius (@radius: 15px);
                    padding: 12px;

                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0de1ea+0,c6d92c+100 */
                    background: #0de1ea; /* Old browsers */
                    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMGRlMWVhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M2ZDkyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
                    background: -moz-linear-gradient(45deg,  #0de1ea 0%, #c6d92c 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg,  #0de1ea 0%,#c6d92c 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg,  #0de1ea 0%,#c6d92c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0de1ea', endColorstr='#c6d92c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */ 
                }
                
                .outer-option{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: @brand-color1; 
                    border: 2px solid @brand-color7;
                    .border-radius (@radius: 15px);
                    padding: 12px;
                    opacity: 1;
                    .transition (@transition: all 0.3s ease-out 0s);
                }
                
                .inner-option{
                    position: relative;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    background: @brand-color1; 
                    .border-radius (@radius: 15px);
                    border: 2px solid @brand-color7;
                    text-align: center;
                    padding: 50px 20px;

                    h4{
                        margin-bottom: 50px;
                    }

                    p{
                        text-align: center;
                    }
                }
                
                &:hover{
                    .outer-option{ 
                        opacity: 0;
                        .transition (@transition: all 0.3s ease-out 0s);
                    }
                }
            }
        }
    }
}

#budget-option-btn{
    padding: 25px 15px;
	background: @brand-color1; 
    text-align: center;
}

#blog{
    padding: 100px 0 0;
	background: @brand-color1; 
    
    h4.title{
        display: block;
        color: @brand-color3;  
        text-align: center;
        padding-bottom: 40px;
    } 

    .small-line{
        display: block;
        background: @brand-color3; 
    }
    
    .content{
        font-size: 0;
        padding-top: 45px;
        
        img{
            width: 100%;
        }
        
        .blog{
            
            .img-blog{
                overflow: hidden;
                
                img{
                    .transition (@transition: all 0.3s ease-out 0s);
                }
            }
            
            .inner-blog{
                position: relative;
                
                img{
                    height: auto;
                }
                
                .content-blog{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    padding: 20px;
                    
                    h6, p{
                        display: block;
                        font-size: 16px;
                        color: @brand-color3;
                        text-align: center;
                    }
                    
                    .small-line{
                        margin: 25px auto;
                        background: @brand-color3;
                    }
                    
                    p{
                        padding-bottom: 10px;
                    }
                }
            }
            
            &:hover{
                .img-blog{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

#bater-papo{
	background: @brand-color1; 
    
    .social-net{
        padding: 90px 15px 30px;
        text-align: center;
        
        .social-net-inner{
            display: inline-block;
            
            a{
                margin: 0 5px;
            }
        }
    }
    
    h4.title{
        display: block;
        color: @brand-color3;  
        text-align: center;
        padding-bottom: 40px;
    } 

    .small-line{
        display: block;
        background: @brand-color3; 
    }
    
    .inner-container{
        text-align: center;
        
        .form-area{
            display: inline-block;
            width: 800px;
            padding-top: 70px;
            
            .contact{
                
                ul{
                    padding-bottom: 35px;
                    
                    li{
                        text-align: left;
                        margin-top: 10px;
                        
                        img{
                            margin-right: 40px;
                        }
                    }
                }
            }
            
            form{
                .form-row{
                    width: 50%;
                    float: left;
                    padding: 0 5px;

                    input{
                        width: 100%;
                        border: 1px solid @brand-color3; 
                        margin-bottom: 8px;
                        padding: 19px 30px;
                        color: @brand-color3;
                    }

                    textarea{
                        width: 100%;
                        height: 272px;
                        border: 1px solid @brand-color3; 
                        margin-bottom: 5px;
                        padding: 19px 30px;
                        resize: none;
                        color: @brand-color3;
                    }
                }
            }
            
            .btn-area{
                padding: 40px 15px 70px;
            }
        }
    }
}

footer{
    padding: 50px 15px 20px;
	background: @brand-color1; 
    text-align: center;
    
    img{
        margin-bottom: 20px;
    }
    
    p{
        text-align: center;
        font-size: 0.875em;
    }
}


/* ========== MODAL ========== */



.modal{
    z-index: 999999;
    
    video{
        position: relative;
        width: 100%;
        height: 100%;
    }
}













