@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../fonts/brandon_reg-webfont.eot');
    src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_reg-webfont.woff2') format('woff2'), url('../fonts/brandon_reg-webfont.woff') format('woff'), url('../fonts/brandon_reg-webfont.ttf') format('truetype'), url('../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/brandon_med-webfont.eot');
    src: url('../fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_med-webfont.woff2') format('woff2'), url('../fonts/brandon_med-webfont.woff') format('woff'), url('../fonts/brandon_med-webfont.ttf') format('truetype'), url('../fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('../fonts/brandon_blk-webfont.eot');
    src: url('../fonts/brandon_blk-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_blk-webfont.woff2') format('woff2'), url('../fonts/brandon_blk-webfont.woff') format('woff'), url('../fonts/brandon_blk-webfont.ttf') format('truetype'), url('../fonts/brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../fonts/brandon_bld-webfont.eot');
    src: url('../fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_bld-webfont.woff2') format('woff2'), url('../fonts/brandon_bld-webfont.woff') format('woff'), url('../fonts/brandon_bld-webfont.ttf') format('truetype'), url('../fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal
}

html {
    height: 100%
}

body {
    /*min-height: 100%;*/
    font-size: 16px;
    color: #212424;
    font-family: 'brandon_grotesque_regularRg'
}

.videos-logo {
    margin-top: 20px;
}

.header-nav .navigation .menu .menu-list li a.a-whatsapp:hover {color: #fff;}
.header-nav .navigation .menu .menu-list li a.face-icon:hover {color: #fff;}
.header-nav .navigation .menu .menu-list li a.tube-icon:hover {color: #fff;}

.page-contact .col-xs-16, .page-contact .col-xs-8 {
	margin-bottom:30px;
}

.page-contact .col-xs-24 {
    padding: 0;
    margin-left: -5px;
    margin-right: -5px;
}

div.wpcf7-validation-errors {
    border: 0;
    position: relative;
    display: block;
    clear: both;
    padding-top: 20px;
    color: #fff;
}

.col-xs-24.footer-f {
    padding-top: 40px;
}

.page-contact .small-line {
    background: #fff;
}

.row.row-title {
    text-align: center;
    padding-bottom: 60px;
}

.form-row {
    width: 50%;
    float: left;
    padding: 0 5px;
}

.page-contact h4.title {
    color: #fff;
}

.page-contact {
    background: #2e3d4b;
    padding-top: 80px;
    padding-bottom: 80px;
}

.form-row input, .form-row textarea {
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video_destaque .title {
    padding-top: 0;
    padding-bottom: 62px;
    color: #fff;
}

#video_destaque {
    padding-top: 166px;
    padding-bottom: 66px;
    text-align: center;
    background: linear-gradient(to right, #0de1ea, #c6d92c);
}

.row-title .font_2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.content-planos p {
    line-height: 32px;
}

.content-planos {
    text-align: left;
}

.content-planos h4 {
    margin-bottom: 20px;
}

.div-data p, .div-data a {
    color: #fff;
}

.div-data p {
    margin-bottom: 20px;
    line-height: 24px;
}

.div-data ul li {
    line-height: 28px;
}

.video_destaque .col-xs-14 {
    margin: 0 auto;
    float: none;
}

.page-template .container-fluid.header-nav {
    background: rgb(0, 0, 0) none repeat scroll 0% 0% !important;
}

.a-whatsapp {
    background: #2c977d;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 25px;
}

.whats-icon .fab.fa-whatsapp {
    font-size: 24px;
}

.whats-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.span-whatsapp-title {
    display: block;
    font-size: 10px;
}

.whats-data {
    display: inline-block;
    padding-left: 8px;
    border-left: 1px solid #2c9442;
    margin-left: 8px;
}

.menu ul.menu-list li.li-whatsapp {
    margin-top: 28px !important;
}

.face-icon {
    border: 1px solid #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.tube-icon {
    border: 1px solid #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

li.face,  li.tube{
    margin-top: 32px !important;
}

li.face, li.tube {
    margin-top: 32px !important;
    padding: 6px !important;
}

@media (max-width:1199px) {
    .container {
        width: 100%
    }
}

.clear {
    clear: both;
    float: none
}

.no-pad {
    padding-left: 0;
    padding-right: 0
}

.no-margin {
    margin-left: 0;
    margin-right: 0
}

.no-pad-left {
    padding-left: 0
}

.no-pad-right {
    padding-right: 0
}

.uppercase {
    text-transform: uppercase
}

p {
    font-size: 1.125em;
    line-height: 1.125em;
    text-align: left;
    font-family: 'brandon_grotesque_regularRg'
}

b {
    font-family: 'brandon_grotesquebold'
}

p,
b,
a {
    color: #212424
}

a,
a:hover,
button,
button:hover {
    text-decoration: none;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    cursor: pointer
}

a:hover,
a:focus {
    color: #212424;
    outline: 0;
    text-decoration: none
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.small-line {
    width: 74px;
    height: 1px;
    display: block;
    margin: 0 auto
}

.row-line {
    padding: 0 80px
}

.row-line.blue {
    background: #2e3d4b
}

.row-line.blue .full-line {
    width: 100%;
    height: 2px;
    display: block;
    margin: 0 auto
}

.row-line.blue .full-line.blue-inner {
    background: #26313c;
    border-bottom: 1px solid #3a5166
}

.row-line.gray {
    background: #ffffff
}

.row-line.gray .full-line {
    width: 100%;
    height: 1px;
    display: block;
    margin: 0 auto
}

.row-line.gray .full-line.gray-inner {
    background: rgba(85, 85, 85, 0.21)
}

::-webkit-input-placeholder {
    color: rgba(33, 36, 36, 0.5)
}

:-moz-placeholder {
    color: rgba(33, 36, 36, 0.5)
}

::-moz-placeholder {
    color: rgba(33, 36, 36, 0.5)
}

:-ms-input-placeholder {
    color: rgba(33, 36, 36, 0.5)
}

h1 {
    font-family: 'brandon_grotesqueblack'
}

h2 {
    font-family: 'brandon_grotesqueblack';
    text-transform: uppercase;
    font-size: 5em
}

h3 {
    font-family: 'brandon_grotesqueblack';
    text-transform: uppercase;
    font-size: 2.25em
}

h4 {
    font-family: 'brandon_grotesqueblack';
    text-transform: uppercase;
    font-size: 1.5em
}

h5 {
    font-family: 'brandon_grotesqueblack';
    text-transform: uppercase;
    font-size: 1.125em
}

h6 {
    font-family: 'brandon_grotesqueblack';
    text-transform: uppercase;
    font-size: 1em
}

.btn-style {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 1.125em;
    text-transform: uppercase;
    padding: 18px 0;
    text-align: center
}

.btn-style.btn-white {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent
}

.btn-style.btn-white:hover {
    color: #212424;
    background: #ffffff
}

.btn-style.btn-black {
    border: 1px solid #212424;
    color: #212424;
    background: transparent
}

.btn-style.btn-black:hover {
    color: #ffffff;
    background: #212424
}

.btn-style.btn-pink {
    border: 1px solid #ed1940;
    color: #ffffff;
    background: #ed1940
}

.btn-style.btn-pink:hover {
    color: #ed1940;
    background: #ffffff
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 9999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header-nav .navigation .logo-mobile {
    display: none
}

@media (max-width:991px) {
    .header-nav .navigation .logo-mobile {
        display: block;
        height: 60px
    }
}

.header-nav .navigation .logo-mobile a {
    display: inline-block;
    padding: 6px 0
}

.header-nav .navigation .logo-mobile a img {
    width: 100px
}

.header-nav .navigation .logo-mobile .header-toggle {
    display: block;
    float: right;
    padding: 15px 0
}

.header-nav .navigation .logo-mobile .header-toggle i {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    cursor: pointer
}

.header-nav .navigation .logo-mobile .header-toggle i:before {
    line-height: inherit
}

.header-nav .navigation .logo-mobile .header-toggle i:not(:first-child) {
    margin-top: 5px
}

.header-nav .navigation .logo-mobile .header-toggle i.icon-nav span {
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    display: inline-block;
    width: 30px;
    height: 4px;
    background-color: #fff
}

.header-nav .navigation .logo-mobile .header-toggle i.icon-nav span:before,
.header-nav .navigation .logo-mobile .header-toggle i.icon-nav span:after {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transition: -webkit-transform .2s linear;
    -o-transition: -o-transform .2s linear;
    transition: transform .2s linear;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff
}

.header-nav .navigation .logo-mobile .header-toggle i.icon-nav span:before {
    margin-top: -4px;
    -webkit-transform: translateY(-6px) rotate(0deg);
    -ms-transform: translateY(-6px) rotate(0deg);
    -o-transform: translateY(-6px) rotate(0deg);
    transform: translateY(-6px) rotate(0deg)
}

.header-nav .navigation .logo-mobile .header-toggle i.icon-nav span:after {
    margin-top: 4px;
    -webkit-transform: translateY(6px) rotate(0deg);
    -ms-transform: translateY(6px) rotate(0deg);
    -o-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg)
}

.header-nav .navigation .logo-mobile .header-toggle i.icon-nav.nav-in span {
    background-color: transparent
}

.header-nav .navigation .logo-mobile .header-toggle i.icon-nav.nav-in span:before {
    margin-top: 0;
    -webkit-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg)
}

.header-nav .navigation .logo-mobile .header-toggle i.icon-nav.nav-in span:after {
    margin-top: 0;
    -webkit-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg)
}

.header-nav .navigation .menu {
    height: 100px
}

@media (max-width:991px) {
    .header-nav .navigation .menu {
        display: none;
        height: auto;
        padding: 0
    }
}

.header-nav .navigation .menu .logo {
    float: left;
    margin: 30px
}

.header-nav .navigation .menu .menu-list {
    display: inline-block;
    float: right;
    margin-right: 30px;
}
.header-nav .navigation .menu .menu-list li.whatsApp a {
    font-size: 20px;
    font-weight: 800;
}

.header-nav .navigation .menu .menu-list li {
    float: left;
    border-bottom: 2px solid transparent;
    margin: 40px 0;
    padding-left: 30px;
    position: relative;
    padding: 6px 20px;
}

.header-nav .navigation .menu .menu-list li ul{
    background: rgba(0, 0, 0, 0.85);
    padding: 20px 30px;
/*    opacity: 0;
visibility: hidden;*/

}
.header-nav .navigation .menu .menu-list li ul li{
    padding-left: 0;
    margin: 10px 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30196078431372547);
    line-height: 30px;
}
.header-nav .navigation .menu .menu-list li ul li:last-child{
    border-bottom: 0;
}

.header-nav .navigation .menu .menu-list li:hover .columns-wrapper {
    opacity: 1;
    visibility: visible;
}

.header-nav .navigation .menu .menu-list li a {
    display: inline-block;
    text-transform: uppercase;
    font-size: .875em;
    color: #ffffff;
    font-family: 'brandon_grotesquemedium';
    text-decoration: none;
}

.header-nav .navigation .menu .menu-list li a:hover {
    color: red;
    font-weight: bold;
}

.header-nav .navigation .menu .menu-list li.active-Menu a {
    color: #ffffff;
    background: #212424
}

.hero {
    display: block;
    width: 100%;
    height: 100vh
}

.hero .container {
    height: 100vh
}

.hero .container .row {
    height: 100vh;
    display: table;
    position: relative
}

.hero .container .row .video-bg video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../img/Fundo10.png') no-repeat top center;
    background-size: cover;
    transition: 1s opacity
}

.hero .container .row .content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    float: none
}

.hero .container .row .content h1 {
    font-size: 7em;
    line-height: .9em;
    color: #ffffff
}

.hero .container .row .content h1 .line1,
.hero .container .row .content h1 .line2,
.hero .container .row .content h1 .line3,
.hero .container .row .content h1 .line4 {
    display: inline-block;
    width: 100%;
    letter-spacing: 2px
}

.hero .container .row .content h1 .line1 {
    display: inline-block;
    width: 100%;
    letter-spacing: 5px
}




.hero .container .row .content h1 .line1 b,
.hero .container .row .content h1 .line2 b,
.hero .container .row .content h1 .line3 b,
.hero .container .row .content h1 .line4 b {
    letter-spacing: 1px;
    background: -webkit-linear-gradient(#0de1ea, #c6d92c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}


.hero .container .row .content .btn-style {
    display: inline-block;
    margin-top: 4em
    /*margin-top: 7.188em*/
}

.col-xs-24.content h1 {
    vertical-align: middle;
    position: relative;
    top: 20px;
    margin-top: 20px;
}

.hero .container .row i {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto;
    width: 18px;
    height: 29px;
    background: url(../img/icon-scroll.png) no-repeat;
    z-index: 1;
    
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
}
.hero .container .row i:hover {
    position: absolute;
    margin: -10px auto 0;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes floating {
    0% {bottom: 30px;}
    50% {bottom: 50px;}
    100% {bottom: 30px;}
}

/* Standard syntax */
@keyframes floating {
    0% {bottom: 30px;}
    50% {bottom: 50px;}
    100% {bottom: 30px;}
}

#our-videos {
    padding: 80px 0 90px;
    background: #ffffff;
    text-align: center
}

#our-videos .title-outer {
    display: inline-block
}

#our-videos .title-outer ul {
    display: inline-block;
    width: 84px;
    float: left;
    margin: 3px 10px 0 0
}

#our-videos .title-outer ul li {
    width: 100%;
    height: 1px;
    background: #212424
}

#our-videos .title-outer ul li:nth-child(1) {
    margin-right: 10px
}

#our-videos .title-outer ul li:nth-child(2) {
    margin: 7px 5px
}

#our-videos .title-outer ul li:nth-child(3) {
    margin-left: 10px
}

#our-videos .title-outer h4 {
    display: inline-block;
    float: left;
    padding-bottom: 40px
}

#our-videos .small-line {
    background: #212424
}

#our-videos .content {
    padding-top: 50px
}

#our-videos .content img {
    padding-bottom: 50px
}

#our-videos .content h5 {
    padding-bottom: 30px
}

#our-videos .content span {
    display: inline-block
}

#our-videos .content span p {
    font-size: 1.063em;
    text-align: center
}

#portfolio {
    background: #2e3d4b
}

#portfolio .img-area a {
    position: relative;
    display: block;
    font-size: 0;
    overflow: hidden
}

#portfolio .img-area a img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    width: 100%
}

#portfolio .img-area a .content {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    visibility: hidden;
    opacity: 0
}

#portfolio .img-area a .content img {
    max-width: 100%;
    width: auto;
    margin: 2em 0
}

#portfolio .img-area a .content .outer-content {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    text-align: center;
    z-index: 10;
    color: #ffffff
}

#portfolio .img-area a .content .outer-content .inner-content {
    display: table-cell;
    vertical-align: middle
}

#portfolio .img-area a .content .outer-content .inner-content img {
}

#portfolio .img-area a .content .outer-content .inner-content .small-line {
    background: #ffffff;
    margin-top: 1em
}

#portfolio .img-area a .content .outer-content .inner-content p {
    color: #ffffff;
    text-align: center;
    font-family: 'brandon_grotesque_regularRg'
}

#portfolio .img-area a:hover img {
    transform: scale(1.1)
}

#portfolio .img-area a:hover .content {
    visibility: visible;
    opacity: 1
}

#portfolio .btn-area {
    text-align: center;
    padding: 50px 15px
}

#video-percent {
    padding: 90px 15px;
    background: #2e3d4b
}

#video-percent .content {
    padding-bottom: 80px
}

#video-percent .content h5 {
    display: block;
    color: #ffffff
}

#video-percent .content .small-line {
    display: block;
    background: #ffffff;
    margin: 25px 0 20px
}

#video-percent .content h2 {
    display: block;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(#0de1ea, #c6d92c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

#video-percent .content h4 {
    display: block;
    color: #ffffff;
    line-height: 1.2em;
    font-family: 'brandon_grotesquebold'
}

#video-percent .content-bottom h5 {
    color: #ffffff;
    text-align: center
}

#budget-option {
    position: relative;
    padding: 0;
    background: #2e3d4b;
    min-height: 600px;
    overflow: hidden
}

#budget-option .waves-bg1 {
    background: url('../img/bg-img1.png') -25px 0 no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 169px;
    background-size: 102%
}

#budget-option .waves-bg2 {
    background: url('../img/bg-img2.png') -25px 0 no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 338px;
    background-size: 102%
}

#budget-option .inner-container {
    position: relative;
    z-index: 10px;
    padding: 80px 15px 45px;
}

#budget-option .inner-container h4.title {
    display: block;
    color: #ffffff;
    text-align: center;
    padding-bottom: 40px
}

#budget-option .inner-container .small-line {
    display: block;
    background: #ffffff
}

#budget-option .inner-container .content {
    padding: 80px 15px;
    text-align: center;
}

#budget-option .inner-container .content .option {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 272px;
    background: transparent;
    padding: 12px;
}

#budget-option .inner-container .content .option .gradient-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 12px;
    background: #0de1ea;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMGRlMWVhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M2ZDkyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, #0de1ea 0, #c6d92c 100%);
    background: -webkit-linear-gradient(45deg, #0de1ea 0, #c6d92c 100%);
    background: linear-gradient(45deg, #0de1ea 0, #c6d92c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0de1ea', endColorstr='#c6d92c', GradientType=1)
}

#budget-option .inner-container .content .option .outer-option {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 2px solid #cecece;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 12px;
    opacity: 1;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s
}

#budget-option .inner-container .content .option .inner-option {
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 248px;
    background: #ffffff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #cecece;
    text-align: center;
    padding: 20px 20px;
}

#budget-option .inner-container .content .option .inner-option h4 {
    margin-bottom: 24px;
    margin-top: 10px;
    font-size: 1.1em;
}

#budget-option .inner-container .content .option .inner-option p {
    text-align: center
}

#budget-option .inner-container .content .option:hover .outer-option {
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s
}

#budget-option-btn {
    padding: 25px 15px;
    background: #ffffff;
    text-align: center
}

#blog {
    padding: 100px 0 0;
    background: #ffffff
}

#blog h4.title {
    display: block;
    color: #212424;
    text-align: center;
    padding-bottom: 20px
}

#blog .small-line {
    display: block;
    background: #212424
}

#blog .content {
    font-size: 0;
    padding-top: 45px
}

#blog .content img {
    width: 100%;
    height: auto;
}


#blog .content .blog:nth-child(odd) .img-blog:nth-child(1) {
    display: none;
}

#blog .content .blog:nth-child(even) .img-blog:last-child {
    display: none;
}

#blog .content .blog:nth-child(odd) .img-blog .arrow-blog {
    position: absolute;
    max-width: 20px;
    left: 48%;
    margin-top: -10px;
    top: 0;
}

#blog .content .blog:nth-child(even) .img-blog .arrow-blog {
    position: absolute;
    max-width: 20px;
    left: 48%;
    margin-bottom: -10px;
    bottom:0;
}

#blog .content .blog .img-blog {
    overflow: hidden;
    position: relative;
}

#blog .content .blog .img-blog img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s
}

#blog .content .blog .inner-blog {
    position: relative
}

#blog .content .blog .inner-blog img {
    height: auto
}

#blog .content .blog .inner-blog .content-blog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    padding-top: 55px;
}

#blog .content .blog .inner-blog .content-blog h6,
#blog .content .blog .inner-blog .content-blog p {
    display: block;
    font-size: 16px;
    color: #212424;
    text-align: center
}

#blog .content .blog .inner-blog .content-blog .small-line {
    margin: 25px auto;
    background: #212424
}

#blog .content .blog .inner-blog .content-blog span {
    display: block;
    width: 80%;
    margin: 0 auto;
}
#blog .content .blog .inner-blog .content-blog p {
    padding-bottom: 10px
}

#blog .content .blog:hover .img-blog img {
    transform: scale(1.1)
}


#blog .content .blog .inner-blog .content-blog .clock-home p {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 13px 13px 0;
}
#blog .content .blog .inner-blog .content-blog .clock-home img {
    width: 100%;
    max-width: 20px;
    margin: 4px 9px -3px;
}
#blog .content .blog .img-blog .arrow-blog {
    position: absolute;
    max-width: 20px;
    left: 48%;
    margin-top: -10px;
}

#bater-papo {
    background: #fff;
}

.home #bater-papo {
    background: #2e3d4b;
    color: #fff;
}

#bater-papo .social-net {
    padding: 90px 15px 30px;
    text-align: center
}

#bater-papo .social-net .social-net-inner {
    display: inline-block
}

#bater-papo .social-net .social-net-inner a {
    margin: 0 5px
}

#bater-papo h4.title {
    display: block;
    color: #fff;
    text-align: center;
    padding-bottom: 20px
}

#bater-papo .small-line {
    display: block;
    background: #fff
}

#bater-papo .inner-container {
    text-align: center;
}

#bater-papo .inner-container .form-area {
    display: inline-block;
    max-width: 800px;
    padding-top: 70px
}

#bater-papo .inner-container .form-area .contact ul {
    padding-bottom: 35px
}

#bater-papo .inner-container .form-area .contact ul li {
    text-align: left;
    margin-top: 10px;
    display: inline-block;
    padding: 12px;
}

.contact ul li a .fab, 
.contact ul li a .far {
    margin-right: 10px;
}

#bater-papo .inner-container .form-area .contact ul li a{
    color:#fff;
}

#bater-papo .inner-container .form-area .contact ul li img {
    margin-right: 40px
}

#bater-papo .inner-container .form-area form .form-row {
    width: 50%;
    float: left;
    padding: 0 5px
}

#bater-papo .inner-container .form-area form .form-row input {
    width: 100%;
    border: 1px solid #212424;
    margin-bottom: 8px;
    padding: 19px 30px;
    color: #212424
}

#bater-papo .inner-container .form-area form .form-row textarea {
    width: 100%;
    height: 272px;
    border: 1px solid #212424;
    margin-bottom: 5px;
    padding: 19px 30px;
    resize: none;
    color: #212424
}

#bater-papo .inner-container .form-area .btn-area {
    padding: 40px 15px 70px
}







/*-----Post------*/

#post-page {
    background: #ffffff;
    margin: 55vh 0 0;
    padding: 6% 0 6%;
}
#post-page .img-blog {
    width: 100%;
    height: auto;
    position: absolute;
    top: -40%;
    left: 0;
}
#post-page .img-blog img {
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

#post-page h4.title {
    display: block;
    color: #212424;
    text-align: center;
    padding-bottom: 16px
}
#post-page h6 {
    display: block;
    text-align: center;
    margin-bottom: 40px;
    font-family: inherit;
}

#post-page .small-line {
    display: block;
    background: #212424;
    margin-bottom: 40px;
}

#post-page .inner-container {
    text-align: center
}
#post-page #posts-link{
    width: 100%;
    height: auto;
    margin: 145px 0 0;
}

#post-page #posts-link .prev{
    float: right;
}
#post-page #posts-link .next{
    float: left;
}
footer {
    padding: 50px 15px 20px;
    background: #ffffff;
    text-align: center
}

footer img {
    margin-bottom: 20px
}

footer p {
    text-align: center;
    font-size: .875em
}

.modal {
    z-index: 999999
}

.modal video {
    position: relative;
    width: 100%;
    height: 100%
}




/*------------+------------*/
/*--- Alterações Ritto ----*/
/*------------+------------*/


/*-------------Modals-------------*/
.modal-dialog iframe { width: 100%;}
.vertical-alignment-helper { display:table;  height: 100%; width: 100%;  pointer-events:none;} 
.vertical-align-center { /* To center vertically */ display: table-cell; vertical-align: middle; pointer-events:none;}
.modal-content { /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */ width:inherit; height:inherit; /* To center horizontally */ margin: 0 auto; pointer-events:all; background: #060606; color: #f1f1f1;}.modal-header { padding: 15px; border-bottom: 1px solid #212424;}
.modal-header span { color: #f1f1f1;}.modal-body p { color: #f1f1f1 !important;}

@media (min-width: 1024px) {
    .modal-open .modal{   padding-right: 0 !important;  max-width: 890px; margin: 0 auto; }
    .modal-dialog { width: 100%; max-width: 890px; /* height: 800px; */ margin: 30px auto;}
    .modal-dialog iframe {height: 481px;}
}

@media (min-width: 1200px) {
    .modal-open .modal{ padding-right: 0 !important; max-width: 1000px; margin: 0 auto; }
    .modal-dialog {width: 100%; max-width: 1000px; /* height: 800px; */ margin: 30px auto;}    
    .modal-body iframe {height: 544px;}
}



/*----------box welcome-----------*/

@media (min-width: 320px) {
    .hero .container .row .content h1 { font-size: 1.4em;}   .btn-style { font-size: 1.em; }
    #our-videos .title-outer ul {   display: none;}    .super-pod{  width: 100%;   margin-bottom: 50px; }    .port-col{  width: 100%; }
    #bater-papo .inner-container .form-area form .form-row {   width: 100%;    float: left;    padding: 0 5px;}
    #budget-option .inner-container .content .option {
        margin-bottom: 20px;
    }
    #budget-option .waves-bg1 {
        background-size: 108%;
        height: 97px;
    }
    #post-page .img-blog img {
        top: 320px;
    }
    #blog .content .blog .inner-blog .content-blog .clock-home p {
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 13px -10px 0;
    }
    #blog .content .blog .inner-blog .content-blog {
        padding-top: 25px;
    }
}
@media (min-width: 400px) {
    .hero .container .row .content h1 { font-size: 1.9em; line-height: 1.3em;}  .btn-style {  font-size: 1.em;  }
    #blog .content .blog .inner-blog .content-blog p {
        font-size: 16px;
    }
}

@media (min-width: 700px) {
    .hero .container .row .content h1 { font-size: 3.9em; line-height: 1em;}    .btn-style { font-size: 1.em; }
    .super-pod{    width: 33.33333333%;    }     .port-col{  width: 50%; }
    #bater-papo .inner-container .form-area form .form-row {    width: 50%;    float: left;    padding: 0 5px;
    }
    #our-videos .title-outer ul {   display: block;} 
    #blog .content .blog .inner-blog .content-blog h6{
        font-size: 40px;
    }
    #blog .content .blog .inner-blog .content-blog p{
        font-size: 25px;
    }
}

@media (min-width: 1000px) {
    .hero .container .row .content h1 { font-size: 4.9em; line-height: 1em;}   .btn-style { font-size: 1.em; }
    #budget-option .waves-bg1 {
        background-size: 102%;
        height: 166px;
    }
    #blog .content .blog .inner-blog .content-blog h6 {
        font-size: 10px;
    }
    
    #blog .content .blog .inner-blog .content-blog p{
        font-size: 11px;
    }
    #blog .content .blog .inner-blog .content-blog .small-line {
        margin: 10px auto
    }
    #blog .content .blog .inner-blog .content-blog {
        padding-top: 30px;
    }
}
@media (min-width: 1440px){
    .hero .container .row .content h1 { font-size: 7em; line-height: 1em;}
    #blog .content .blog .inner-blog .content-blog h6 {
        font-size: 14px;
    }
    #blog .content .blog .inner-blog .content-blog p {
        font-size: 14px;
    }
    #blog .content .blog .inner-blog .content-blog {
        padding-top: 50px;
    }
}
@media (min-width: 1600px){
    .hero .container .row .content h1 { font-size: 7em; line-height: 1em;}
    #blog .content .blog .inner-blog .content-blog h6 {
        font-size: 16px;
    }
    #blog .content .blog .inner-blog .content-blog p {
        font-size: 15px;
    }
    #blog .content .blog .inner-blog .content-blog {
        padding-top: 90px;
    }
    #blog .content .blog .inner-blog .content-blog .small-line {
        margin: 25px auto;
    }
    #post-page .img-blog img {
        top: 25px;
    }
    #blog .content .blog .inner-blog .content-blog .clock-home p {
        margin: 0 13px 0px 0;
    }
}


/*------ Menu Mobile ----*/
@media (min-width: 320px) and (max-width: 1000px) {
    .header-nav .navigation .logo-mobile a img{
        margin-top: 6px;
    }
    .header-nav .navigation .menu .logo {
        display: none;
    }
    .header-nav .navigation .menu .menu-list{
        text-align: center;
        font-size: 2em;
        float: left;
        width: 100%;
        color: #fff;
        margin-top: 0px;
        font-weight: 800;
        background: #000;
    }
    .header-nav .navigation .menu .menu-list li {
        padding:0;
        width: 100%;
        float: left;
    }
    .header-nav .navigation .menu .menu-list li:nth-child(1) {
        padding:0;
    }
    .header-nav .navigation .menu .menu-list li:nth-child(5) {
        width: 50%;
        /*margin-top: 25px;*/
    }
    .header-nav .navigation .menu .menu-list li:nth-child(6) {
        width: 50%;
        margin-top: 25px;
    }
    
    #blog .content .blog:nth-child(odd) .img-blog:nth-child(1){
        display: none;
    }

    #blog .content .blog:nth-child(even) .img-blog:last-child{
        display: block;
    }
    #blog .content .blog:nth-child(even) .img-blog:nth-child(1){
        display: none;
    }
    

    #blog .content .blog .inner-blog .content-blog{
        z-index: 9;
        overflow: hidden;
        height: auto;
    }
    #blog .content .blog .inner-blog img{
        display: none;
    }
    #blog .content .blog .inner-blog .content-blog h6, #blog .content .blog .inner-blog .content-blog p {
        color: #fff;
    }
    #blog .content .blog .inner-blog .content-blog .small-line {
        margin: 10px auto;
        background: #fff;
    }
    #blog .content .blog .img-blog {
        background: #212424;
    }
    #blog .content img {
        opacity: 0.5;
    }
    
}



.port-col{
    display: none;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
}
.port-col:nth-child(1){
    display: block;
}
.port-col:nth-child(2){
    display: block;
}
.port-col:nth-child(3){
    display: block;
}
.port-col:nth-child(4){
    display: block;
}
.active-port{
    display: block;
}

.planos-edit{
    width: 22.333333%;
    margin: 0 1%;
    display: inline-block;
    float: left;
}

div.wpcf7-mail-sent-ok {
    border: none;
    color: green;
}


@media (min-width: 320px) and (max-width: 480px) {

    .header-nav .navigation .menu .menu-list li.sub-nav ul{
        display: none;
    }
    .header-nav .navigation .menu .menu-list li:nth-of-type(6){
        display: none;
    }
    .header-nav .navigation .menu .menu-list li:nth-of-type(7){
        display: none;
    }
    .header-nav .navigation .menu .menu-list li.sub-nav ul li{
       font-size: 16px;
   }
   .header-nav .navigation .menu .menu-list li.sub-nav.active-sub ul{
    display: block !important;
    position: relative;
    left:  0;
    top: 0;
    font-size: 16px;
    padding: 0;
}
.header-nav .navigation .menu .menu-list li:nth-child(5) {
    width: 100%;
    /*margin-top: 25px;*/
    font-size: 16px;
}

/*.header-nav .navigation .menu .menu-list li {
    margin: 0;
}*/

.header-nav .navigation .menu .menu-list li ul li {
    margin: 0 !important;
}
}


@media only screen and (max-width: 820px) {
    .planos-edit {
      width: 48%;
      margin: 0 1%;
      display: inline-block;
      float: left;
      min-height: 292px;
  }

  .planos-edit .option.option1 {
      min-height: 294px;
  }

  #video_destaque .col-xs-14 {
      width: 100%;
  }

  .col-xs-16, .col-xs-8, .col-xs-12 {
      width:100%;
  }
}

@media only screen and (max-width: 480px) {
    .planos-edit {
      width: 100%;
      margin: 0 1%;
      display: inline-block;
      float: left;
      min-height: inherit;
  }

  .planos-edit .option.option1 {
      min-height: inherit;
      height: inherent;
  }
  .header-nav .navigation .menu .menu-list li ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }
}

@media screen and (min-width: 1000px) {   
    .header-nav .navigation .menu .menu-list li ul li {
        line-height: 16px;
        font-size: 14px; 
        margin: 0;
    }

    .columns-wrapper {
        min-width: 600px;
        position: absolute;
        top: 40px;
        opacity: 0;
        left: 20px;
        visibility: hidden;
        transition: all .2s ease;
    }

    .columns-wrapper > ul {
        float: left;
        width: 50%;
    }

    .columns-wrapper ul:first-child {
        border-right: 2px rgba(255, 255, 255, 1);
    }

    .columns-wrapper:after {
        content: '';
        display: block;
        clear: both;
    }

    .columns-wrapper:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background: #FFF;
    }

    .header-nav .navigation .menu .menu-list li ul li {
        line-height: 34px;
    }
}

@media screen and (max-width: 1000px) {
    .columns-wrapper {
        margin-top: 20px;
        max-height: 300px;
        overflow-y: scroll;
    }
}