.close{
    opacity: 1 !important;
    position: relative!important;
    top: 11px!important;
}

@media only screen and (max-width:1000px) 
{
    #root{
        DISPLAY: NONE!important;
    }
    .planos-edit {
        width: 48%!important;
    }
}


@media only screen and (max-width:700px) 
{
    .planos-edit {
        width: 98.333333%!important;
    }
}