.whatsApp {
    position: fixed;
    right: -5%;
    top: 50%;
    transform: translateX(-50%);
    z-index: 6100!important;
}
.whatsAppFooter{ 
    display: none;
    position: fixed;
    bottom: 0;
    background-color: #53dda1;
    height: 36px;
    width: 100%;
    z-index: 200;
    padding: 3%;
}

.whatsAppFooter > div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    min-width: 120px;
    font-size: 20wv;
    border:0px solid red;
    padding: 1%;
}
.whatsAppFooter > div div{
    display: inline-block;

}
.whatsAppFooter a{
    position: relative;
    top: -5px;
    left: 8px;
    color: white;
    font-weight: bold;
    font-size: 5vw;
    text-transform: lowercase;   
}
.whatsAppFooter a:hover{
    color: white;    
}

@media only screen and (max-width:1200px) 
{
    .whatsApp {
        right: -7.3%;
    }
}


@media only screen and (max-width:900px) 
{
    .whatsApp{ display:none!important; }  
    .whatsAppFooter{
        display: block !important;
        position: fixed;
        z-index: 6100!important;
        background-color: #29b192;
        width: 100%;
        padding: 2%;
        color: #fff !important;
        bottom: 0;
        height: 60px;
    }

    .iconeWhats{
        width: 25px;
    }
    .root{
        display: none!important;
    }
}