/* 
Mouse Parallax
==============
This is just initialization so that your background area is not hidden on page load.  Apply this class to elements you will use with $(element).mouseParallax();  

Or not!  You can use mouseParallax on an element without this class and specify all the styles yourself, if you prefer.

I went with "fixed," but "absolute" positioning also works, depending on the application.
*/

.mouse-bg {
	position: fixed;
	z-index: -1;
}

.hero .container .row .content h1 .line1 {
    position: absolute;
    top:100;
}

.hero .container .row .content h1 .line2 {
    position: absolute;
    top:150;
}

.hero .container .row .content h1 .line3 {
    position: absolute;
    top:160;
}