/* ========== FONTS ========== */
@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url('../fonts/brandon_reg-webfont.eot');
  src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_reg-webfont.woff2') format('woff2'), url('../fonts/brandon_reg-webfont.woff') format('woff'), url('../fonts/brandon_reg-webfont.ttf') format('truetype'), url('../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url('../fonts/brandon_med-webfont.eot');
  src: url('../fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_med-webfont.woff2') format('woff2'), url('../fonts/brandon_med-webfont.woff') format('woff'), url('../fonts/brandon_med-webfont.ttf') format('truetype'), url('../fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesqueblack';
  src: url('../fonts/brandon_blk-webfont.eot');
  src: url('../fonts/brandon_blk-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_blk-webfont.woff2') format('woff2'), url('../fonts/brandon_blk-webfont.woff') format('woff'), url('../fonts/brandon_blk-webfont.ttf') format('truetype'), url('../fonts/brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesquebold';
  src: url('../fonts/brandon_bld-webfont.eot');
  src: url('../fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_bld-webfont.woff2') format('woff2'), url('../fonts/brandon_bld-webfont.woff') format('woff'), url('../fonts/brandon_bld-webfont.ttf') format('truetype'), url('../fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
