
    @media only screen and (min-width:3367px)
    {
        .whatsApp {
            position: fixed;
            right: -4%;
            top: 50%;
            transform: translateX(-50%);
            z-index: 3
        }

    }   

    @media only screen and (max-width:1366px) 
    {
        .whatsApp { right: -5% }
    }   


    @media only screen and (max-width:900px) 
    {
        .whatsApp{ display:none!important; }  
    }